@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-brand-primary: #d81b60;
  --color-brand-secondary: #f48fb1;
  --color-brand-text: #333333;
  --color-brand-background: #ffffff;
  --color-brand-surface: #f8f0e3;
  --color-brand-accent: #ffb300;

  --font-base: var(--font-open-sans), sans-serif;
  --font-heading: var(--font-playfair), serif;
}

@layer base {
  body {
    background-color: var(--color-brand-background);
    color: var(--color-brand-text);
    font-family: var(--font-base);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-heading);
  }
}

@layer utilities {
  .prose > h1:first-child,
  .prose > h1:first-of-type {
    display: none !important;
  }
}